*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/AndroidManifest.xml
/app/build.gradle
/build.gradle
/app/src/androidTest/java/com/pri/testapplication/ExampleInstrumentedTest.kt
/app/src/test/java/com/pri/testapplication/ExampleUnitTest.kt
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/src/main/res/mipmap-hdpi/ic_launcher.png
/app/src/main/res/mipmap-mdpi/ic_launcher.png
/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/app/proguard-rules.pro
/settings.gradle
/app/src/main/res/values/themes.xml
/app/src/main/res/values-night/themes.xml
