<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pri.mainproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainProject">
        <activity android:name=".SelectFilter"></activity>
        <activity android:name=".BuildFilter" />
        <activity android:name=".ApplyFilter" />
        <activity android:name=".Notification" />
        <activity android:name=".ModelImage" />
        <activity android:name=".Transfer2" />
        <activity android:name=".SelectModel" />
        <activity android:name=".Photo1" />
        <activity android:name=".Transfer1" />
        <activity android:name=".SelectPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>